{% extends '@AdminBundle/layout.twig' %}
{% block title %}文章管理{% endblock %}
{% set leftMenuActive='Post' %}

{% block contentRight %}

    <div class="page-title">文章管理</div>

    <div class="content-top">
        <ul class="top-nav">
            <li class="active"><a href="">新增文章</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                {# 错误提示信息 #}
                {% if error is defined and error is not empty %}
                    <div class="ui-tips bg-info">
                        <span class="icon glyphicon glyphicon-info-sign"></span>
                        <span>{{ error }}</span>
                    </div>
                {% endif %}

                {# 表单 #}
                <form action="{{ url('admin/post/create') }}" method="post" class="form-horizontal mt15">

                    {{ include('@AdminBundle/post/_form.twig') }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}
